In [36]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [37]:
CPI = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/CPI_clean.csv')
CPI = CPI[(CPI["Year"]>1989) & (CPI["Year"]<2017)]
CPI.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 77 to 1324
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    324 non-null    int64
 1   Month   324 non-null    int64
 2   CPI     324 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.1 KB

In [38]:
em_nonfarm = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/employees_on_nonfarm_payrolls_clean.csv')
em_nonfarm = em_nonfarm[(em_nonfarm["Year"]>1989) & (em_nonfarm["Year"]<2017)]
em_nonfarm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 51 to 1012
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 324 non-null    int64
 1   Month                324 non-null    int64
 2   Number of Employees  324 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.1 KB

In [39]:
GDP = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/CPI_clean.csv')
GDP = GDP[(GDP["Year"]>1989) & (GDP["Year"]<2017)]
GDP.info()

<class 'pandas.core.frame.DataFrame'>
Index: 324 entries, 77 to 1324
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    324 non-null    int64
 1   Month   324 non-null    int64
 2   CPI     324 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 10.1 KB

In [40]:
ir = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/interest_rate_clean.csv')
ir = ir.drop(columns='Year-Month')
ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Year           324 non-null    int64
 1   Month          324 non-null    int64
 2   Interest Rate  324 non-null    float64
dtypes: float64(1), int64(2)
memory usage: 7.7 KB

In [41]:
work_stoppages = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/work_stoppages_clean.csv')
months = pd.DataFrame({'Month': range(1, 13)})
work_stoppages = work_stoppages.merge(months,how='cross')
work_stoppages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324 entries, 0 to 323
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Year                    324 non-null    int64
 1   NumWorkStoppages        324 non-null    int64
 2   NumWorkersInStoppages   324 non-null    int64
 3   WorkStoppagesTotalDays  324 non-null    int64
 4   Month                   324 non-null    int64
dtypes: int64(5)
memory usage: 12.8 KB

In [42]:
unemployment_fire = pd.read_csv('/content/drive/MyDrive/UnemploymentProject/CleanDatasets/unemployment_fire.csv')
unemployment_fire.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151277 entries, 0 to 151276
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Month      151277 non-null  int64
 1   Year       151277 non-null  int64
 2   State      151277 non-null  object
 3   County     151277 non-null  object
 4   Fire_Size  151277 non-null  float64
 5   Rate       151277 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 6.9+ MB

In [43]:
merged_data = pd.merge(unemployment_fire, CPI, on=['Year', 'Month'], how='left')
merged_data = pd.merge(merged_data, em_nonfarm, on=['Year', 'Month'], how='left')
merged_data = pd.merge(merged_data, GDP, on=['Year', 'Month'], how='left')
merged_data = pd.merge(merged_data, ir, on=['Year', 'Month'], how='left')
merged_data = pd.merge(merged_data, work_stoppages, on=['Year', 'Month'], how='left')

In [44]:
merged_data = merged_data.drop(columns=("CPI_x"))
merged_data = merged_data.rename(columns={'CPI_y':'CPI'})
merged_data.info()
merged_data.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151277 entries, 0 to 151276
Data columns (total 12 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Month                   151277 non-null  int64
 1   Year                    151277 non-null  int64
 2   State                   151277 non-null  object
 3   County                  151277 non-null  object
 4   Fire_Size               151277 non-null  float64
 5   Rate                    151277 non-null  float64
 6   Number of Employees     151277 non-null  float64
 7   CPI                     151277 non-null  float64
 8   Interest Rate           151277 non-null  float64
 9   NumWorkStoppages        151277 non-null  int64
 10  NumWorkersInStoppages   151277 non-null  int64
 11  WorkStoppagesTotalDays  151277 non-null  int64
dtypes: float64(5), int64(5), object(2)
memory usage: 13.8+ MB

,Month,Year,State,County,Fire_Size,Rate,Number of Employees,CPI,Interest Rate,NumWorkStoppages,NumWorkersInStoppages,WorkStoppagesTotalDays
0,1,1992,AL,Calhoun,8.0,8.7,106723.0,138.1,4.03,35,363,3989
1,1,1992,AL,Cherokee,5.0,8.7,106723.0,138.1,4.03,35,363,3989
2,1,1992,AL,Colbert,30.0,12.1,106723.0,138.1,4.03,35,363,3989
3,1,1992,AL,Talladega,2.0,10.3,106723.0,138.1,4.03,35,363,3989
4,1,1992,AR,Montgomery,3.0,8.0,106723.0,138.1,4.03,35,363,3989
5,1,1992,AR,Phillips,5.0,15.3,106723.0,138.1,4.03,35,363,3989
6,1,1992,AR,Saline,7.0,6.9,106723.0,138.1,4.03,35,363,3989
7,1,1992,AR,Yell,5.0,6.4,106723.0,138.1,4.03,35,363,3989
8,1,1992,AZ,Cochise,15.0,10.8,106723.0,138.1,4.03,35,363,3989
9,1,1992,AZ,Maricopa,3.0,7.1,106723.0,138.1,4.03,35,363,3989
10,1,1992,AZ,Yuma,25.0,17.3,106723.0,138.1,4.03,35,363,3989
11,1,1992,CA,Butte,5.0,12.2,106723.0,138.1,4.03,35,363,3989
12,1,1992,CA,Calaveras,2.0,12.9,106723.0,138.1,4.03,35,363,3989
13,1,1992,CA,Humboldt,2.0,11.2,106723.0,138.1,4.03,35,363,3989
14,1,1992,CA,Imperial,60.0,23.4,106723.0,138.1,4.03,35,363,3989
15,1,1992,CA,Madera,2.0,16.4,106723.0,138.1,4.03,35,363,3989
16,1,1992,CA,Mendocino,8.0,14.4,106723.0,138.1,4.03,35,363,3989
17,1,1992,CA,Monterey,12.0,17.8,106723.0,138.1,4.03,35,363,3989
18,1,1992,CA,Placer,2.0,8.5,106723.0,138.1,4.03,35,363,3989
19,1,1992,CA,Riverside,2.0,10.5,106723.0,138.1,4.03,35,363,3989

In [45]:
merged_data.reset_index(drop=True).to_csv("/content/drive/MyDrive/UnemploymentProject/CleanDatasets/merged_data.csv", index=False)